<div id="content">


  <div class="row">
    <sa-big-breadcrumbs [items]="['Home', 'Restaurants']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    <!--sa-stats></sa-stats -->
  </div>

  <!--
      The ID "widget-grid" will start to initialize all widgets below
      You do not need to use widgets if you dont want to. Simply remove
      the <section></section> and you can use wells or panels instead
      -->
  <!-- widget grid -->
  <sa-widgets-grid>
    <search-restaurant
      [term]="term$ | async"
      [location]="location$ | async"
      [sortby]="sortby$ | async"
    >
    </search-restaurant>
    <!-- row -->
    <div class="row">
      <!-- a blank row to get started -->
      <div class="col-sm-12">
        <!-- your contents here -->
          <h1 class="font-md"> Search Results for <span class="semi-bold">Restaurants</span><small class="text-danger"> &#xA0;&#xA0;({{ (restaurants$ | async).length}} results)</small></h1>
          <div>
            <restaurant-summary [restaurants]="restaurants$ | async"></restaurant-summary>
          </div>
      </div>
    </div>
    <!-- end row -->
  </sa-widgets-grid>
  <!-- end widget grid -->
</div>
