<div class="row">
  <div class="col-sm-1">
    <img class="img-responsive" src="{{restaurant.image_url}}" width="90" height="90">
  </div>
  <div class="col-sm-3">
    <h4>{{index + 1}}. <strong>{{restaurant.name}}</strong></h4>
    <address>
      {{restaurant.location.display_address[0]}}<br/>
      {{restaurant.location.display_address[1]}}<br/>
      <i class="fa fa-phone"></i>  {{restaurant.phone}}<br/>
    </address>
  </div>
  <div class="col-sm-5">
    <span>{{restaurant.price}}</span>   <span><strong>{{categories}}</strong></span><br/>
    <rating [ngModel]="restaurant.rating" [readonly]="true" [float]="true"></rating><span> {{restaurant.rating}}</span><br/>
    <span>{{restaurant.review_count}} reviews</span><br/>
    <!--span><strong>Distance</strong> {{distance_in_miles | number:'1.2-6'}} miles</span-->
  </div>
  
</div>
<hr class="simple"/>
